<%- include("../partials/general-error-alert.partial.ejs") %>
<%- include("../partials/decline-changes-modal.partial.ejs", { returnUrl: "/cms/accounts" }) %>

<h2 class="mb-1"><%= accountAction %> account</h2>
<div class="row mb-3">
  <a href="/cms/accounts">Return to accounts</a>
</div>
<form method="post">
  <div class="row">
    <div class="col-md-4">
      <label for="login" class="form-label">Login:</label>
      <input type="text" class="form-control <%= errors?.login && "is-invalid" %>" id="login" value="<%= form.login %>" name="login" maxlength="30">
      <div class="invalid-feedback"><%= errors?.login?.message %></div>
    </div>
    <div class="col-md-4">
      <label for="email" class="form-label">Email address:</label>
      <input type="email" class="form-control <%= errors?.email && "is-invalid" %>" id="login" value="<%= form.email %>" name="email" maxlength="100">
      <div class="invalid-feedback"><%= errors?.email?.message %></div>
    </div>
    <div class="col-md-4">
      <label for="role" class="form-label">User role:</label>
      <select id="role" class="form-select" name="role">
        <% for (const option of roleOptions) { %>
        <option value="<%= option %>" <%= form.role === option && "selected" %>>
          <%= option.toLowerCase() %>
        </option>
        <% } %>
      </select>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-6 mb-2">
      <button class="btn btn-outline-dark w-100" type="button" data-bs-toggle="modal" data-bs-target="#declineChanges">
        Decline changes
      </button>
    </div>
    <div class="col-md-6 mb-2">
      <button class="btn btn-primary w-100" type="submit"><%= accountAction %> account</button>
    </div>
  </div>
</form>
