<header class="container mt-3 mt-md-5">
  <div class="row justify-content-between">
    <div class="col-md-6 d-flex justify-content-center justify-content-md-start order-2 order-md-1 mt-3 mt-md-0">
      <div class="hstack gap-3">
        <% for (const link of socialLinks) { %>
        <a href="<%= link.link %>" target="_blank" title="<%= link.paraphrase %>">
          <i class="<%= link.iconClass %> standard-icon"></i>
        </a>
        <% } %>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-end order-1 order-md-2">
      <button class="gth-button change-theme-btn">Set theme to DARK</button>
    </div>
  </div>
  <hr />
  <div class="row justify-content-center">
    <div class="text-center mb-2 text-container">
      <%- personalData.descriptionTop %>
    </div>
  </div>
  <div class="d-flex my-4 justify-content-center">
    <a class="gth-button" href="<%= personalData.mavenCentralLink %>" target="_blank">
      Maven Central
    </a>
  </div>
  <div class="row justify-content-center">
    <div class="text-center mt-2 text-container">
      <%- personalData.descriptionBottom %>
    </div>
  </div>
</header>
