<% if (pagesCount > 0) { %>
    <div class="row mt-3">
        <div class="col-md-4 mb-2 d-flex justify-content-center justify-content-md-start align-items-center">
            <div class="btn-group">
                <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown">
                    Total per page: <%= totalPerPage %>
                </button>
                <ul class="dropdown-menu">
                    <% for (const state of paginationStates) { %>
                        <li>
                            <a class="dropdown-item"
                                href="<%= paginationUrl %>page=<%= page %>&total=<%= state %>"><%= state %></a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
        <div class="col-md-4 mb-2 d-flex justify-content-center text-black-50">
            Showing <span class="text-black mx-1"><%= showingCount %></span> of
            <span class="text-black mx-1"><%= resultsCount %></span> results.
        </div>
        <div class="col-md-4 mb-2 d-flex justify-content-center justify-content-md-end align-items-center">
            <nav>
                <ul class="pagination pagination-sm">
                    <li class="page-item <%= page <= 1 && "disabled" %>">
                        <a class="page-link" href="<%= paginationUrl %>page=<%= page - 1 %>&total=<%= totalPerPage %>">
                            Previous
                        </a>
                    </li>
                    <% for (let i = 1; i <= pagesCount; i++) { %>
                        <li class="page-item <%= page == i && "active" %>">
                            <a class="page-link" href="<%= paginationUrl %>page=<%= i %>&total=<%= totalPerPage %>">
                                <%= i %>
                            </a>
                        </li>
                    <% } %>
                    <li class="page-item <%= page >= pagesCount && "disabled" %>">
                        <a class="page-link" href="<%= paginationUrl %>page=<%= page + 1 %>&total=<%= totalPerPage %>">
                            Next
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
<% } %>
