<form method="get" class="row mb-2">
  <div class="col-md-9 mb-2 hstack gap-2">
    <label class="flex-fill">
      <input type="search" name="q" value="<%= query.q %>" class="form-control w-100" placeholder="Search by <%= searchBy %>...">
    </label>
    <button type="submit" class="btn btn-primary h-100">
      <i class="bi bi-search"></i>
    </button>
  </div>
  <div class="col-md-3 mb-2">
    <a href="<%= addContentPath %>" class="btn btn-primary w-100">Add new <%= addContentText %></a>
  </div>
</form>

<% if (query.q) { %>
<div class="row">
  <p class="text-black-50">Search results for <span class="text-black">"<%= query.q %>"</span>:</p>
</div>
<% } %>
