<!DOCTYPE html>
<html lang="{{language}}">
<head>
  <meta charset="utf-8">
  <link rel="icon" type="image/png" href="/favicon.png">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="generator" content="Java">
  <title>{{title pageTitle}}</title>
  <meta name="description" content="{{i18n 'meta.description'}}">
  <meta property="og:title" content="{{pageTitle}}">
  <meta property="og:type" content="website">
  <meta property="og:description" content="{{i18n 'meta.description'}}">
  <meta property="og:url" content="{{domain}}{{url '/' pageUrl}}"/>
  <meta property="og:locale" content="{{language}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap">
  <link rel="stylesheet" href="/css/main.css">
  {{#each cssResources}}
    <link rel="stylesheet" href="/css/{{this}}.css">
  {{/each}}
  <!-- @formatter:off -->
  <script type="text/javascript">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5ZTBZLGH');</script>
  <!-- @formatter:on -->
</head>
<body>
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5ZTBZLGH" height="0" width="0"
          style="display:none;visibility:hidden"></iframe>
</noscript>
<header class="header__container">
  <div class="header__wrapper">
    <h1>{{pageTitle}}</h1>
    {{#if enabledLngBtn}}
      <div class="header__lang-container">
        {{#with languageButton}}
          <a href="/{{redirectLink}}" title="{{i18n 'header.translate'}}">
            <img src="/lang/{{code}}.svg" alt="{{code}}" width="25px" class="header__lang-image">
          </a>
        {{/with}}
      </div>
    {{/if}}
  </div>
</header>
<main class="main__container">
  <div class="main__wrapper">
    {{{body}}}
  </div>
</main>
<footer class="footer__container">
  <div class="footer__wrapper">
    <p class="footer__paragraph">&copy; {{year}} by Miłosz Gilga</p>
  </div>
</footer>
</body>
</html>
