---
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import { getLangFromUrl } from '@/i18n';
import '@/styles/combined.scss';

type Props = {
  frontmatter: {
    title?: string;
    header: string;
  };
};

const {
  frontmatter: { title, header },
} = Astro.props as Props;

const lang = getLangFromUrl(Astro.url);

const staticTitle = 'Miłosz Gilga';
let concatedTitle = staticTitle;
if (title) {
  concatedTitle = `${title} | ${staticTitle}`;
}
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/png"
      href="/favicon.png"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>{concatedTitle}</title>
    <!-- Start GFont -->
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <!-- End GFont -->
  </head>
  <body>
    <Header header={header} />
    <main class="main__container">
      <div class="main__wrapper">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>

<style lang="scss">
  .main {
    &__container {
      flex-grow: 1;
      background-color: var(--main-tint);
      color: var(--main-light);
    }
    &__wrapper {
      margin: 0 auto;
      max-width: var(--safety-width);
      padding: 0 20px 50px;
    }
  }
</style>
