---
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import { getLangFromUrl, useTranslations } from '@/i18n';
import '@/styles/combined.scss';

type TProps = {
  frontmatter: {
    title?: string;
    description?: string;
    header: string;
  };
};

const {
  frontmatter: { title, header, description },
} = Astro.props as TProps;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const staticTitle = 'Miłosz Gilga';
let concatedTitle = staticTitle;
if (title) {
  concatedTitle = `${title} | ${staticTitle}`;
}
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{concatedTitle}</title>
    <meta name="description" content={description || t('meta.description')} />
    <meta
      name="google-site-verification"
      content="HkvdN6vgQunIuwG9lL4-sZO20bPKjddY39HpTqpq20M"
    />
    <!-- Start OG -->
    <meta property="og:title" content={concatedTitle} />
    <meta
      property="og:description"
      content={description || t('meta.description')}
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url.href} />
    <meta property="og:locale" content={lang} />
    <!-- End OG -->
    <!-- Start GFont -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <!-- End GFont -->
  </head>
  <body>
    <Header header={header} />
    <main class="main__container">
      <div class="main__wrapper">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>

<style lang="scss">
  .main {
    &__container {
      flex-grow: 1;
      background-color: var(--main-light);
      color: var(--main-dark);
    }
    &__wrapper {
      margin: 30px auto 80px;
      max-width: var(--safety-width);
      padding: 0 20px;
    }
  }
</style>
