<div class="fixed-container">
  <%- include("../partials/session-alert.partial.ejs") %>
  <%- include("../partials/general-error-alert.partial.ejs") %>

  <% if (tokenIsValid) { %>
  <div class="card">
    <form method="post" class="card-body p-4 mb-0">
      <h5 class="card-title mb-4">Change password</h5>
      <div class="mb-3">
        <label for="newPassword" class="form-label">New password:</label>
        <div class="input-group" data-pwd-container data-pwd-input-id="newPassword" data-pwd-toggle-id="newPassword-icon">
          <input id="newPassword" type="password" class="form-control" name="newPassword" value="<%= form.newPassword %>" placeholder="min 8 characters">
          <span id="newPassword-icon" class="input-group-text" role="button">
            <i class="bi bi-eye-fill"></i>
          </span>
        </div>
      </div>
      <div class="mb-3">
        <label for="repeatNewPassword" class="form-label">Repeat new password:</label>
        <div class="input-group" data-pwd-container data-pwd-input-id="repeatNewPassword" data-pwd-toggle-id="repeatNewPassword-icon">
          <input id="repeatNewPassword" type="password" class="form-control" name="repeatNewPassword" value="<%= form.repeatNewPassword %>" placeholder="min 8 characters">
          <span id="repeatNewPassword-icon" class="input-group-text" role="button">
            <i class="bi bi-eye-fill"></i>
          </span>
        </div>
      </div>
      <button class="btn btn-primary w-100" type="submit">
        Change password
      </button>
    </form>
  </div>
  <% } else { %>
  <div class="alert alert-danger" role="alert">
    Passed token <strong><%= token %></strong> is not valid, already used or expired. Try with another.
  </div>
  <% } %>
</div>

<%- contentFor('additional-scripts') %>
<script src="/assets/js/toggle-password.js"></script>
